#page-landing {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(330deg, #b1d4e0 0%, #2e8bc0 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

#page-landing .wrapper {
  padding: 3rem 0 0 0;
  position: relative;
  height: 55%;
  width: 100%;
  max-width: 1100px;
  max-height: 800px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#page-landing .wrapper section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#page-landing .wrapper section p {
  color: #0c2d48;
  font-size: 1.8rem;
  font-weight: 400;
  max-width: 400px;
  margin-top: 2.4rem;
}
#page-landing .wrapper section .enter-view {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#page-landing .wrapper section .enter-view a {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 4rem;
  border: none;
  border-radius: 10px;
  color: #0c2d48;
  background-color: #b1d4e0;
  transition: all 0.2;
}

#page-landing .wrapper section .enter-view a:hover {
  opacity: 0.9;
}

#page-landing .wrapper img {
  width: min(30rem, 100%);
}

@media (max-width: 1100px) {
  #page-landing .wrapper img {
    display: none;
  }

  #page-landing .wrapper {
    flex-direction: none;
    justify-content: center;
    padding: 0;
  }

  #page-landing .wrapper section {
    align-items: center;
  }
  #page-landing .wrapper section p {
    text-align: center;
    max-width: none;
    padding: 2rem;
  }

  #page-landing .wrapper section .enter-view a {
    position: relative;
    margin-top: 3rem;
    width: 90%;
  }
}
