#single-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.single-post {
  max-width: 1100px;
  margin-bottom: 3rem;
  padding: 3rem;
}

.single-post {
  height: 400px;
}

.single-post button {
  background: #a30500;
  color: #fff;
  margin: 2rem 0;
  padding: 1.5rem;
  height: 2rem;
  width: 100%;
  display: flex;
  border: none;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  transition: all 0.2;
}

.single-post button:hover {
  opacity: 0.8;
}
