#single-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.single-post {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1100px;
  margin-bottom: 0.5rem;
  padding: 0.5rem 0 5rem 0;
}

.single-post .edit-delete button {
  cursor: pointer;
  background: #B80600;
  color: #fff;
  margin: 2rem 0;
  padding: 1.5rem;
  height: 2rem;
  width: 30%;
  display: flex;
  border: none;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  transition: all 0.2;
}

.single-post .edit-delete button:hover {
  opacity: 0.8;
}

.single-post .edit-delete button svg {
  font-size: 1.2rem;
}
.single-post .edit-delete {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.single-post .edit-delete a {

  width: 65%;
  display: flex;
  background: #509183;
  color: #fff;
  margin: 2rem 0;
  padding: 1.5rem;
  height: 2rem;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  transition: all 0.2;
}

.single-post .edit-delete a:hover {
  opacity: 0.8;
}